@font-face {
    font-family: 'DIN 1451';
    src: url('fonts/DIN1451.ttf') format('truetype');
}

body {
    background-color: #000000; 
    color: #e0e0e0;
    font-family: 'DIN 1451', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #000000; 
    text-align: center;
    padding: 60px 0;
}

.logo {
    width: 50px;
    height: auto; 
    display: block;
    margin: 0 auto 20px; 
}

h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.lead {
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    flex-grow: 1;
}

.card {
    background-color: #1f1f1f;
    border: 2px solid #6b46c1; 
    border-radius: 15px;
    padding: 40px;
    margin: 20px;
    width: 90%; 
    max-width: 1000px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.card-title {
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6b46c1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px; 
}

.btn:hover {
    background-color: #553c9a; 
    transform: scale(1.05);
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 30px 0;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6b46c1; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-bottom: 20px;
}

.btn-home:hover {
    background-color: #553c9a;
    transform: scale(1.05);
}
