body {
    background-color: #000000; 
    color: #ffffff;
}

h2 {
    color: #9370db; 
}

.custom-box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #9370db; 
    padding: 20px;
    border-radius: 10px;
}

.custom-button {
    margin: 20px 0; 
}

a {
    color: #9370db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff; 
}

footer {
    background: #4b0082; 
}
