body {
    background-color: #000000; 
    color: #ffffff;
}

h2 {
    color: #9370db; 
}

a {
    color: #9370db; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff; 
}

footer {
    background: #4b0082; 
}
